.about__section{
    font-family: $font-family;
    font-size: $font-size;
    height: $section-height;
    padding: $header-size;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.about__title{
    color: $light-grey;
    font-size: 2rem;
    text-align: center;

    h1{
        color: $quaternary;
    }

    h5{
        color: rgba(255,255,255, 0.3);
    }
}

.about__container{
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 2rem;
}

.about__image{
    display: flex;
    justify-content: center;
    align-items: center;
}

.image__container{
    background-color: rgba(255,255,255, 0.3);
    width: 320px;
    border-radius: 50px;
    transition: .3s;

    img{
        height: 400px;
        width: 320px;
        border-radius: 50px;
        transform: rotate(20deg);
        transition: 1s;
    }

    :hover{
        transform: rotate(0deg);
    }
}


.about__description{
    color: $quaternary;
}

.about__achievements{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    

    div{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100px;
        color: $quaternary;
        
        i{
            font-size: 2rem;
        }

        p{
            font-size: 1.2rem;
        }

        small{
            font-size: 0.7rem;
        }
    }
}

.about__me{
    font-size: 1.2rem;
    padding: 50px;
    border-radius: 20px;
    box-shadow: 5px 5px 15px 3px rgba(0,0,0, 0.5);
}

@media screen and ( max-width: 1024px ){

    .image__container{
        background-color: rgba(255,255,255, 0.3);
        width: 300px;
    
        img{
            height: 360px;
            width: 300px;
        }
    }

    .about__achievements{
        div{    
            i{
                font-size: 1.4rem;
            }
    
            p{
                font-size: 0.8rem;
            }
    
            small{
                font-size: 0.5rem;
            }
        }
    }

    .about__me{
        font-size: 1rem;
        padding: 20px;
    }
}

@media screen and ( max-width: 768px ){

    .about__section{
        padding-top: $header-size;
        padding-left: 20px;
        padding-right: 20px;
    }

    .about__container{
        grid-template-columns: 1fr;
    }

    .about__image{
        display: none;
    }

    .about__title{
        font-size: 2rem;
    }
    .about__achievements{
        div{    
            i{
                font-size: 1.5rem;
            }
    
            p{
                font-size: 1rem;
            }
    
            small{
                font-size: 0.5rem;
            }
        }
    }

    .about__me{
        font-size: 1.2rem;
        padding: 20px;
    }
}

@media screen and ( max-width: 425px ){
    .about__title{
        font-size: 2rem;
    }
    .about__achievements{
        div{    
            i{
                font-size: 1.3rem;
            }
    
            p{
                font-size: 0.8rem;
            }
    
            small{
                font-size: 0.5rem;
            }
        }
    }

    .about__me{
        font-size: 0.7rem;
        padding: 20px;
    }
}