.home__section{
    height: $section-height;
    padding-top: $header-size;
    background-color: $background;
    display: flex;
    justify-content: center;
}

.home__container{
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    gap: 2rem;
    width: 100%;
}

.home__content{
    font-family: $font-family;
    font-size: 4rem;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.home__title-name{
    width: 100%;
    color: $headline;
    font-weight: bold;
}

.home__title-jobname{
    width: 100%;
    text-align: right;
    color: rgba(43, 44, 52, 0.5);
}

.home__image{
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.home__image-profile{
    width: 600px;
    height: 800px;
    display: flex;
    justify-content: center;
}

@media screen and ( max-width: 1440px ) {
    .home__content{
        font-size: 3rem;
    }

    .home__image-profile{
        width: 500px;
        height: 700px;
    }
}

@media screen and ( max-width: 1024px ) {
    .home__container{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 30px;
    }

    .home__content{
        font-size: 2.5rem;
        height: auto;
    }

    .home__content hr{
        display: none;
    }

    .home__title-name{
        text-align: center;
    }

    .home__title-jobname{
        text-align: center;
    }

    .home__image{
        align-items: center;
        border-radius: 100px;
        background: linear-gradient(360deg, rgba(98,70,234,0.5) 20%, rgba(209,209,233,0.5) 80%);
        border: 5px solid $background;
        box-shadow: $box-shadow;
        margin-top: -30px
    }

    .home__image-profile{
        width: 300px;
        height: 300px;
        img{
            margin-left: 35px;
        }
    }
}

@media screen and ( max-width: 425px ) {
    .home__container{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 50px;
    }

    .home__content{
        font-size: 1.5rem;
        height: auto;
    }

    .home__content hr{
        display: none;
    }

    .home__title-name{
        text-align: center;
    }

    .home__title-jobname{
        text-align: center;
    }

    .home__image{
        align-items: center;
        border-radius: 100px;
        background: linear-gradient(360deg, rgba(98,70,234,0.5) 20%, rgba(209,209,233,0.5) 80%);
        border: 5px solid $background;
        box-shadow: $box-shadow;
    }

    .home__image-profile{
        width: 280px;
        height: 280px;
        img{
            margin-left: 35px;
        }
    }
}