
.nav__container{
    background: rgba(255,255,255,0.4);
    -webkit-backdrop-filter: blur(2px);
    backdrop-filter: blur(2px);
    border: 1px solid rgba(255,255,255,0.1);
    color: $white;
    font-family: $font-family;
    font-size: $font-size;
    height: $header-size;
    position: fixed;
    width: 100%;
    
    z-index: 10;

    transition: .5s ease;

    button{
        display: none;
    }
}

.nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: $header-size;
    padding: 5px;
    width: 80%;
    margin:auto;
}

.nav__ul{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 60%;

    a:visited{
        color: $white;
    }

    a:hover{
        color: $secondary;
    }
}

.nav__socials{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 20%;

    a:visited{
        color: $white;
    }

    a:hover{
        color: $secondary;
    }
}

.nav__logo{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

@keyframes logo_animation {
  0%   {border:2px solid $tertiary;}
  25%  {border:2px solid $quaternary;}
  50%  {border:2px solid $secondary;}
  75%  {border:2px solid $quaternary;}
  100% {border:2px solid $tertiary;}

  from{
    transform: rotate(0deg);
  }to{
    transform: rotate(360deg);
  }
}

.nav__logo-img{
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-name: logo_animation;
    border-radius: 50px;
    cursor: pointer;
    height: 40px;
    margin-right: 15px;
    padding: 2px;
    transition: .3s;
    width: 40px;
}

.nav__toggle{
    display: none;
}

@media screen and ( max-width: 768px ){
    .nav__container{
        height: 10rem;
        display: flex;
        border: 2px solid $secondary;
        border-radius: 10px;
        top: -107px;
    }

    .nav{
        flex-direction: column;
        gap: .5rem;
    }

    .nav__ul{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 1rem;
        width: 100%;
    }

    .nav__socials{
        justify-content: space-around;
        align-items: center;
    }

    .nav__logo{
        display: none;
    }

    .nav__toggle{
        display: flex;
        justify-content: center;
        flex-direction: column;
        width: 20%;

        button{
            background: transparent;
            color: $primary;
            border: none;
            font-size: 1rem;
        }
    }
}

@media screen and ( max-width: 375px ){
    .nav__container{
        height: 15rem;
        display: flex;
        border: 2px solid $secondary;
        border-radius: 10px;
        top: -200px;
    }

    .nav{
        flex-direction: column;
        gap: .5rem;
    }

    .nav__ul{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .nav__socials{
        justify-content: space-around;
        align-items: center;
    }

    .nav__logo{
        display: none;
    }

    .nav__toggle{
        display: flex;
        justify-content: center;
        flex-direction: column;
        width: 20%;

        button{
            background-color: $primary;
            color: $white;
            border: none;
            font-size: 1rem;
        }
    }
}

.open{
    top: 0;
}