@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

.nav__container{
    background-color: $primary;
    color: $white;
    font-family: 'Montserrat', sans-serif;
    font-size: $font-size;
    height: $header-size;
    position: fixed;
    width: 100%;
}

.nav{
    display: grid;
    height: $header-size;
    grid-template-columns: 1fr 2fr;
    padding: 5px;
    width: 80%;
    margin:auto;
}

.nav__ul{
    display: flex;
    justify-content: space-around;
    align-items: center;

    a:visited{
        color: $white;
    }

    a:hover{
        color: $tertiary;
    }

    a:is(:link, :active, :visited).active {
        color: $tertiary;
    }
}

.nav__logo{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

@keyframes logo_animation {
  0%   {border:2px solid $tertiary;}
  25%  {border:2px solid $quaternary;}
  50%  {border:2px solid $secondary;}
  75%  {border:2px solid $quaternary;}
  100% {border:2px solid $tertiary;}

  from{
    transform: rotate(0deg);
  }to{
    transform: rotate(360deg);
  }
}

.nav__logo-img{
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-name: logo_animation;
    border-radius: 50px;
    cursor: pointer;
    height: 40px;
    margin-right: 15px;
    padding: 2px;
    transition: .3s;
    width: 40px;
}
