.portfolio__section{
    font-family: $font-family;
    font-size: $font-size;
    height: $section-height;
    padding: $header-size;
    @extend .flex__center;
}

.portfolio__container{
    font-size: 2rem;
    text-align: center;
    padding: 20px;

    @extend .flex__all-center;
    
    h1{
        color: $quaternary;
    }

    h3{
        color: $quaternary;
    }

    h5{
        color: rgba(255,255,255, 0.3);
    }
}

.portfolio__content{
    width: 100%;
    padding: 20px;
}

.portfolio__item{
    background: rgba(255,255,255,0.2);
    -webkit-backdrop-filter: blur(2px);
    backdrop-filter: blur(2px);
    border: 1px solid rgba(255,255,255,0.1);
    border-radius: 20px;
    width: 300px;
    height: 350px;
    padding: 20px;

    .portfolio__item-title{
        padding: 10px;
    }

    .portfolio__item-image{
        img{
            border-radius: 15px;
            width: 250px;
        }
    }
    .portfolio__item-buttons{
        display: flex;
        justify-content: space-around;
        padding: 10px;
        button{
            @extend .button__basic;
            background-color: $secondary;
            color: white;
            border: 1px solid $white;
        }
    }
}

.portfolio__item-buttons button:hover{
    background-color: $tertiary;
    transition: .3s;
}

.portfolio__item:hover{
    background-color: $secondary;
    transition: .3s;
}

.swiper {
    width: 100%;
    height: 100%;
}
  
.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: transparent;
    padding: 50px;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.swiper {
    margin-left: auto;
    margin-right: auto;
}

@media screen and ( max-width: 425px ){
    
    .portfolio__container{
        padding: 0px;
    }

    .portfolio__content{
        width: 425px;
    }
    .swiper-button-prev{
        display: none;
    }
    .swiper-button-next{
        display: none;
    }
}

@media screen and ( width: 375px ){
    
    .portfolio__content{
        width: 375px;
    }
    .swiper-button-prev{
        display: none;
    }
    .swiper-button-next{
        display: none;
    }
}

@media screen and ( width: 320px ){
    
    .portfolio__content{
        width: 320px;
    }
    .swiper-button-prev{
        display: none;
    }
    .swiper-button-next{
        display: none;
    }
    .portfolio__item{
        padding: 10px;
    }
}