.skills__section{
    font-family: $font-family;
    height: $section-height;
    padding: $header-size;
    @extend .flex__center;
}

.skills__title{
    @extend .flex__all-center;
    width: 100%;
    font-size: 1.5rem;

    h1{
        color: $quaternary;
    }

    h4{
        color: rgba(255,255,255,0.3);
    }
}

.skills__container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    padding: 1rem;
}

.skills__content{
    color: $quaternary;
    text-align: center;
    border-radius: 20px;
    box-shadow: 5px 5px 15px 3px rgba(0,0,0, 0.5);
    padding: 10px;
    
    i{
        font-size: 1.5rem;
    }
}

.skills__list{
    padding: 15px;
}

.skills__content-title{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.skills__percentage{
    border: $border-white;
    border-radius: 10px;
    margin-top: 5px;
    height: 15px;
    background-color: $quaternary;
}

.skills__level{
    width: 85%;
    height: 13px;
    border-radius: 10px;
    background-color: $secondary;
}

.skills__accordion{
    display: none;
    cursor: pointer;
}


@media screen and ( max-width: 425px) {
    .skills__section{
        padding-top: $header-size;
        padding-left: 10px;
        padding-right: 10px;
    }

    .skills__container{
        display: grid;
        grid-template-columns: 1fr;
    }

    .skills__content{
        height: 70px;
    } 
    
    .skills__accordion{
        display: block;
    }
    
    .frontend__list{
        display: none;
    }
}

.open__content{
    height: auto;
}

.open__list{
    display: block;
}

