//Base
@import './base/settings';
@import './base/base';

//Components

@import './components/navbar';
@import './components/home';
@import './components/about';
@import './components/skills'; 
@import './components/portfolio';
@import './components/contact';
@import './components/footer';