@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

/* Colors */

$primary: #071330;
$secondary: #0C4160;
$tertiary: #738FA7;
$quaternary: #C3CEDA;
$dark-grey: #33383a;
$light-grey: #D8D8D8;
$white: #fff;

/* Layout */

$header-size: 4rem;
$font-size: 1rem;
$font-family: 'Montserrat', sans-serif;
$section-height: 100vh;
